$accentColor = lighten(#4a154b, 50%)
$textColor = #2c3e50
$borderColor = rgba(0,0,0,.05)
$codeBgColor = #000
$arrowBgColor = #ccc

$navbarHeight = 5rem
$prismTheme = 'okaidia' // available themes: https://github.com/PrismJS/prism/tree/master/themes
