// Override the styles of popup in @vuepress/plgin-pwa

.global-ui
  .sw-update-popup
    border-color $accentColor
    color $accentColor
    border-radius 10px
    button
      background #d05dd2
      color #FFF;
      border-radius 5px
      border none
