$wrapper
  max-width $contentWidth
  margin 0 auto
  background-color #FFF
  padding 3rem 4rem
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

